{% extends 'header.html' %}
{% load static %}
{% block body %}

<div id="bodyWrapper" class="container">

    <div class="row justify-content-center noMargin">
        <div class="col-lg-5 contentCenterWrapperSM">
            <div class="contentCenterHeadTopWB d-flex">
                <div class="contentCenterHeadTopWBBckBtn" id="recoverAccountCompleteBackBtnContainer">
                    <span class="fas fa-arrow-left"></span>
                </div>
                <div class="contentCenterHeadTopWBTitle">
                    <h6>Account Recovery</h6>
                </div>
            </div>

            <div class="contentCenterBodyWrapper">
                <p>
                    Dear User, <br/><br/>
                    Your password has been successfully changed. Please <a href="{% url 'login' %}">login now</a>.<br/>

                    If you have any issue logging in, please <a href="{% url 'contactpage' %}">contact us</a>.
                </p>
            </div>
        </div>
    </div>

</div>

{% endblock %}