html,
body {
    height: 100%;
    width: 100%;
    min-width: 300px;
}

@font-face {
    font-family: HelveticaNeue-Light;
    src: url('../fonts/HelveticaNeue-Light.woff'), url('../fonts/HelveticaNeue-Light.woff') format('woff');
}

@font-face {
    font-family: HelveticaNeue-Medium;
    src: url('../fonts/HelveticaNeue-Medium.woff'), url('../fonts/HelveticaNeue-Medium.woff') format('woff');
}

@font-face {
    font-family: HelveticaNeue-Bold;
    src: url('../fonts/HelveticaNeueBold.woff'), url('../fonts/HelveticaNeueBold.woff') format('woff');
}

#mainWrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
}

#headerWrapper {
    width: 100%;
    flex-shrink: 0;
    background-color: white;
    min-height: 10px;
    -webkit-box-shadow: 0px 7px 6px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 7px 6px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 7px 6px 0px rgba(0, 0, 0, 0.16);
    z-index: 10;
}

.topNavGradient {
    background: #ff5800;
    background: -moz-linear-gradient(left, #ff5800 0%, #bdd31a 25%, #007bbc 50%, #d33b03 75%, #802c00 100%);
    background: -webkit-linear-gradient(left, #ff5800 0%, #bdd31a 25%, #007bbc 50%, #d33b03 75%, #802c00 100%);
    background: linear-gradient(to right, #ff5800 0%, #bdd31a 25%, #007bbc 50%, #d33b03 75%, #802c00 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff5800', endColorstr='#802c00', GradientType=1);
    display: block;
    width: 100%;
    height: 6px;
}

.logoNavWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.logoNavWrapper>div {
    padding: 10px;
}

.logoNavWrapper .logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2px;
    padding-top: 3px;
}

.headerNav .navbar {
    padding: 0!important;
}

.headerNav .nav-link {
    font-weight: 400;
    font-size: 14px;
    font-family: HelveticaNeue-Light;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.16);
}

#bodyWrapper {
    padding-top: 60px;
    flex-grow: 1;
    flex-shrink: 0;
    background-color: white;
    display: flex;
    flex-direction: row;
}

#bodyWrapper>div {
    flex: 1;
    flex: 1;
    padding-top: 10px;
    padding-bottom: 10px;
}

.homePageBodyImg img {
    width: 100%;
}

.homepageBodyMsg {
    padding: 15px;
    padding-top: 120px !important;
    padding-left: 60px !important;
}

.noPaddingStrict {
    padding: 0px!important;
}

.welcomeText {
    font-size: 35px;
    color: #707070;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.34);
    display: block;
    font-weight: 300;
}

.conText {
    font-family: HelveticaNeue-Light;
    font-size: 55px;
    color: #707070;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.46);
    line-height: 1;
    font-weight: 400;
    margin-bottom: 8px;
    display: block;
}

.homepageBodyMsg>p {
    color: #707070;
    font-family: HelveticaNeue-Light;
    font-size: 20px;
    line-height: 1.2;
}

.homepageBodyBtnWrapper {
    display: block;
}

.homepageBodyBtnWrapper>div {
    display: inline-block;
}

.homepageBodyBtnWrapper button {
    padding-left: 20px;
    padding-right: 20px;
    font-family: HelveticaNeue-Light;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.35);
    margin-right: 25px;
    border-radius: 4px;
}

.homepageBodyBtnWrapper .bodyGetStartedBtn {
    background-color: #009FD0;
    color: white;
}

.homepageBodyBtnWrapper .bodyLearnMoreBtn {
    background-color: #D3D3D3;
    color: #767373;
}

#footerWrapper {
    flex-shrink: 0;
    background-color: #F5F5F5;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#footerNavWrapper {
    flex-grow: 1;
    flex-shrink: 0;
}

#footerNavWrapper .row {
    margin: 0px !important;
    padding: 0px !important;
}

#footerNavWrapper .row .col {
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.footerNavTitle {
    color: #707070;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 5px;
    display: block;
    font-size: 18px;
}

#footerNavWrapper .row .col li {
    line-height: 1.3;
}

#footerNavWrapper .row .col li>a {
    font-family: HelveticaNeue-Light;
    font-weight: 100;
    color: #707070;
}

#footerNavWrapper .row .col .subscribeBox {
    position: relative;
    padding-left: 40px;
}

#footerNavWrapper .row .col .subscribeBox>input {
    background-color: #F5F5F5;
}

#footerNavWrapper .row .col .subscribeBox>input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #707070;
    opacity: 1;
    font-family: HelveticaNeue-Light;
}

#footerNavWrapper .row .col .subscribeBox>input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #707070;
    font-family: HelveticaNeue-Light;
}

#footerNavWrapper .row .col .subscribeBox>input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #707070;
    font-family: HelveticaNeue-Light;
}

#footerNavWrapper .row .col .subscribeBox>button {
    position: absolute;
    top: 0;
    font-size: 25px;
    right: 0;
    padding-top: 0px;
    font-weight: 100;
    padding-bottom: 0px;
    color: #707070;
}

#footerNavWrapper .row .col .socialIcons {
    display: block;
    padding-left: 40px;
    padding-top: 8px;
}

#footerNavWrapper .row .col .socialIcons>a {
    display: inline-block;
    border-radius: 50%;
    margin: 5px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    font-size: 22px;
}

.socialIcons .facebook {
    background-color: #3B579D;
}

.socialIcons .linkedin {
    background-color: #0179B3;
}

.socialIcons .instagram {
    background-color: #E7456E;
}

.socialIcons .twitter {
    background-color: #00AEEF;
}

.bottonNavGradient {
    flex-shrink: 0;
    background: #802c00;
    background: -moz-linear-gradient(left, #802c00 0%, #d33b03 25%, #007bbc 50%, #bdd31a 75%, #ff5800 100%);
    background: -webkit-linear-gradient(left, #802c00 0%, #d33b03 25%, #007bbc 50%, #bdd31a 75%, #ff5800 100%);
    background: linear-gradient(to right, #802c00 0%, #d33b03 25%, #007bbc 50%, #bdd31a 75%, #ff5800 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#802c00', endColorstr='#ff5800', GradientType=1);
    display: block;
    width: 100%;
    height: 5px;
}


/* register */

.registerWrapper {
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    max-width: 410px;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.38);
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.formLogo {
    flex-shrink: 0;
    min-height: 100px;
    text-align: center;
    padding: 10px;
}

.formLogo img {
    width: 150px;
    display: inline-block;
    border-radius: 30px;
}

.registerForm {
    flex-shrink: 0;
    padding: 20px;
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 40px;
    padding-bottom: 0px;
}

@media only screen and (max-width: 440px) {
    .registerForm {
        padding-left: 8%;
        padding-right: 8%;
    }
}

@media only screen and (max-width: 350px) {
    .registerForm {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.noMargin {
    margin: 0 !important;
}

.inputWithIconContainer {
    position: relative;
    margin-bottom: 0.7rem;
}

.inputWithIcon {
    padding-left: 40px;
    border-radius: 10px;
}

.inputIcon {
    color: #707070;
    position: absolute;
    top: 8px;
    left: 12px;
    font-size: 20px;
}

.inputWithIcon::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #707070;
    font-family: HelveticaNeue-Light;
    opacity: 0.9;
    font-size: 14px;
    /* Firefox */
}

.inputWithIcon:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #707070;
    font-family: HelveticaNeue-Light;
}

.inputWithIcon::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #707070;
    font-family: HelveticaNeue-Light;
}

.formSubmitButton {
    background-color: #009FD0;
    color: white;
    font-family: HelveticaNeue-Light;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 200;
    -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.38);
}

.formSubmitButton:hover {
    color: white;
}

.formSubmitButtonContainer {
    margin-bottom: 0.5rem;
}

.signInOptionsWrapper {
    padding-bottom: 15px;
}

.signInWith {
    font-size: 11px;
    color: #707070;
    text-align: center;
    font-family: HelveticaNeue-Light;
}

.googleSignIn {
    text-align: center;
    padding: 2px;
}

.googleSignIn>div {
    display: inline-block;
}

.facebookSignIn {
    text-align: center;
}

.facebookSignIn>div {
    display: inline-block;
}


/* login */

.loginWrapper {
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    max-width: 410px;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.38);
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.loginForm {
    flex-shrink: 0;
    padding: 20px;
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 40px;
    padding-bottom: 0px;
}

@media only screen and (max-width: 440px) {
    .loginForm {
        padding-left: 8%;
        padding-right: 8%;
    }
}

@media only screen and (max-width: 350px) {
    .loginForm {
        padding-left: 0px;
        padding-right: 0px;
    }
}


/* practice */

.catWrapper {
    padding: 20px;
}

.catTitle {
    margin-top: 20px;
    width: 100%;
    display: block;
}

.catTitle h4 {
    font-family: HelveticaNeue-Medium;
    color: #8e8e8e;
}

.questionsWrapper {
    width: 100%;
}

.questionBox {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border: solid 1px #a7a7a7;
    border-radius: 8px;
    min-height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    box-shadow: 0px 2px 6px -4px rgba(0, 0, 0, 1);
    cursor: pointer;
}

.questionBox .question-details {
    flex-grow: 1;
    overflow: hidden;
    width: 100%;
    padding-right: 2px;
}

.questionBox .question-details h4 {
    font-size: 14px;
    font-family: HelveticaNeue-Bold;
    color: #707070;
    margin-bottom: 1px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
}

.questionBox .question-details .question-details-minor {
    color: rgb(172, 172, 172);
    font-size: 10px;
    display: block;
    padding-left: 5px;
}

.questionBox .question-difficulty {
    height: 100%;
    text-align: center;
}

.questionBox .question-difficulty-percent-wrapper {
    text-align: center;
    display: block;
    margin-bottom: 1px;
}

.question-difficulty-percent {
    display: inline-block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    font-size: 9px;
    color: black;
    line-height: 38px;
    text-align: center;
    border: solid 1px #00B400;
}

.questionBox .question-difficulty-minor {
    color: rgb(146, 146, 146);
    font-size: 12px;
    display: block;
    font-family: HelveticaNeue-Medium;
    white-space: nowrap;
}


/* question screen */

.questionscreenWrapper {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 60px!important;
    padding-bottom: 60px!important;
}

.questionscreenWrapper .questionViewBox {
    border-radius: 2px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.46);
    padding: 0px!important;
    margin-bottom: 20px;
}

.questionscreenWrapper .question-title .questionBackBtn {
    color: grey;
    display: inline-block;
}

.questionscreenWrapper .question-title{
    padding-top: 10px;
}

#questionBackBtnContainer{
    display: inline-block;
}

.questionscreenWrapper .question-title h1 {
    color: grey;
    display: inline;
    vertical-align: middle;
    font-size: 20px;
    margin: 0px!important;
}

.questionscreenWrapper .question-description{
    padding-left: 45px;
    padding-right: 45px;
}

.questionscreenWrapper .question-description p {
    font-family: HelveticaNeue-Light;
    color: rgb(96, 96, 96);
}

.questionscreenWrapper .question-right-sidebar {
    padding: 0px !important;
}

.questionscreenWrapper .question-right-sidebar>div {
    min-height: 100px;
    border-radius: 2px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.46);
    margin-bottom: 20px;
}

.questionscreenWrapper .question-right-sidebar .questionSubmissionsView {
    height: 80px;
    width: 80px;
    line-height: 85px;
    font-size: 18px;
    color: grey;
    font-family: HelveticaNeue-Medium;
    display: inline-block;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.46);
    border-radius: 50%;
    vertical-align: middle;
    margin: 10px;
}

.questionViewDifficultyWrapper {
    padding-top: 50px !important;
    padding-bottom: 30px !important;
}

.questionscreenWrapper .questionSubmissionsWrapper {
    text-align: center;
}

.question-right-sidebar .totalSubmissionsText {
    margin-top: 10px;
    color: grey;
    font-family: HelveticaNeue-Light;
    font-size: 20px;
}

.question-right-sidebar .questionSubmissionsStatsWrapper>div {
    text-align: center;
}

.questionSubmissionsStatsWrapper .questionSubmissionsSuccessRate {
    height: 40px;
    width: 40px;
    line-height: 40px;
    display: inline-block;
    color: grey;
    border: solid 1px #00B400;
    border-radius: 50%;
    vertical-align: middle;
    font-size: 12px;
    margin: 5px;
}

.questionSubmissionsStatsWrapper .questionSubmissionsStatsLabel {
    color: rgb(154, 154, 154);
    font-family: HelveticaNeue-Bold;
    font-size: 14px;
}

.questionSubmissionsStatsWrapper .questionSubmissionsFailureRate {
    height: 40px;
    width: 40px;
    line-height: 40px;
    display: inline-block;
    color: grey;
    border: solid 1px rgb(237, 0, 20);
    border-radius: 50%;
    vertical-align: middle;
    font-size: 12px;
    margin: 5px;
}

.questionViewScoreWrapper {
    padding: 10px!important;
}

.questionViewScoreWrapper>div {
    padding: 0px!important;
    padding-top: 25px !important;
}

.questionViewScoreWrapper .scoreDisplayBox {
    text-align: center;
}

.questionViewScoreWrapper .scoreDisplay {
    font-family: 'Hoefler Text';
    border-bottom: solid 1px rgb(175, 175, 175);
    display: inline-block;
    font-size: 30px;
    padding: 5px;
    font-weight: 100;
    color: rgb(147, 147, 147);
    line-height: 1;
    margin: 10px;
}

.questionViewScoreWrapper .scoreDisplayLabel {
    color: rgb(162, 162, 162);
    font-family: HelveticaNeue-Medium;
    font-size: 14px;
}

.questionViewScoreWrapper .userSubmissionsCountDisplay {
    text-align: center;
    color: rgb(173, 173, 173);
    font-family: HelveticaNeue-Light;
    margin-bottom: -5px;
    margin-top: 30px;
    font-size: 14px;
}


/* user profile */

.profilePageWrapper {
    margin-top: 30px!important;
    margin-bottom: 30px!important;
}

.profileDisplayWrapper {
    min-height: 400px;
}

.profileDisplayWrapper .userIntro {
    min-height: 100px;
    padding: 20px;
}

.profileDisplayWrapper .userDetails {
    min-height: 300px;
}

.profileDisplayWrapper .userIntro .userDisplayPicture {
    flex: 1;
}

.profileDisplayWrapper .userDisplayPictureContainer {
    width: 100%;
    padding-top: 100%;
    position: relative;
    border-radius: 50%;
    box-shadow: 0px 0px 4px rgb(128, 128, 128);
    overflow: hidden;
}

.profileDisplayWrapper .userDisplayPictureContainer img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.profileDisplayWrapper .userIntro .userIntroDetails {
    flex: 2;
}

.profileDisplayWrapper .userIntroFullName h5 {
    line-height: 1;
    font-family: HelveticaNeue-Bold;
    color: rgb(152, 152, 152);
    text-shadow: 0px 1px 2px rgb(178, 178, 178);
}

.profileDisplayWrapper .userIntroDescription {
    font-family: HelveticaNeue-Light;
    color: rgb(171, 171, 171);
}

.profileDisplayWrapper .userIntroSocialIcons a {
    font-size: 20px;
    color: rgb(136, 136, 136);
}

.profileDisplayWrapper .userDetails {
    box-shadow: 0px 0px 6px -1px rgb(178, 178, 178);
    border-radius: 3px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.profileDisplayWrapper .userDetailsHeading {
    color: rgb(151, 151, 151);
    margin-top: 15px;
    font-family: HelveticaNeue-Medium;
}

.profileDisplayWrapper .userDetailsEachItems {
    padding-left: 30px;
    color: rgb(151, 151, 151);
    font-family: HelveticaNeue-Light;
}

.profileDisplayWrapper .userDetailsEachItems td {
    color: rgb(151, 151, 151);
    font-family: HelveticaNeue-Light;
    padding: 0px;
}

.profileDisplayWrapper .userDetailsEachItems a {
    color: rgb(110, 110, 110);
    padding-left: 2px;
    padding-right: 2px;
}


/*account settings */

.accountSettingsWrapper {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.accountSettingsWrapper>div {
    box-shadow: 0px 0px 6px -1px rgb(178, 178, 178);
    border-radius: 3px;
    padding: 15px;
    padding-left: 3%;
    min-height: 500px;
}

.accountSettingsBox {
    position: relative;
}

.accountSettingsMainHeading {
    position: relative;
    color: rgb(142, 142, 142);
}

.accountSettingsMainHeading span {
    position: absolute;
    display: inline-block;
    font-size: 1.25rem;
    line-height: 1.2;
    left: -25px;
    cursor: pointer;
    z-index: 1;
}

.accountSettingsMainHeading h5 {
    display: inline-block;
}

.accountSettingsCat {
    margin-top: 20px;
    color: rgb(142, 142, 142);
}

.accountSettingsItemWrapper {
    margin-left: 20px;
    margin-right: 20px;
}

.accountSettingsCatHeading {
    font-family: HelveticaNeue-Medium;
    font-size: 18px;
    margin-bottom: 10px;
}

.accountSettingsEachItem {
    font-family: HelveticaNeue-Light;
    vertical-align: middle;
    padding: 8px;
}

.accountSettingsItemKey {
    flex: 1;
    padding: 0rem !important;
    font-family: Arial, Helvetica, sans-serif;
}

.accountSettingsItemValue {
    flex: 2;
    padding: 0rem !important;
    border-bottom: solid 1px rgb(194, 194, 194);
    position: relative;
}

.accountSettingsItemEditButton {
    position: absolute;
    right: 0;
    padding: 0;
    z-index: 1;
    cursor: pointer;
}

.accountSettingsItemValueInput {
    border: none;
    padding: 0px;
    margin: 0px;
    color: rgb(142, 142, 142);
    width: 100%;
    opacity: 1;
    outline: none;
}

.accountSettingsItemValueInput:focus {
    border: none;
    padding: 0px;
    margin: 0px;
    color: rgb(142, 142, 142);
    width: 100%;
    opacity: 1;
}

.accountSettingsItemValueInput:disabled {
    color: rgb(59, 59, 59);
    opacity: 1;
    background: white;
}

.accountSettingsEachItem .impEmailKey {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 34px;
}


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(32px);
    -ms-transform: translateX(32px);
    transform: translateX(50px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 30px;
}

.slider.round:before {
    border-radius: 50%;
}

.switch .sliderStatus {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 30px;
    color: white;
    font-family: Helvetica Neue;
    font-size: 10px;
}

.accountSettingsFooterDetail {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: rgb(171, 171, 171);
    font-size: 11px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: HelveticaNeue-Light;
}


/* contact form */

.contactFormWrapper {
    padding-top: 50px!important;
    padding-bottom: 50px!important;
}

.contactFormBox {
    box-shadow: 0px 0px 6px -1px rgb(178, 178, 178);
    border-radius: 3px;
    padding: 15px;
    padding-left: 40px;
    padding-right: 30px;
    color: gray;
    position: relative;
}

.contactFormMainHeading {
    font-family: Helvetica Neue;
    color: gray;
}

.contactFormBackButton {
    display: inline-block;
    font-size: 1.25rem;
    margin-left: -29px;
    cursor: pointer;
    padding: 2px;
}

.contactFormMainHeading h5 {
    display: inline-block;
}

.contactFormInputLabel {
    flex: 1;
    line-height: 32px;
    font-family: HelveticaNeue-Light;
}

.contactFormInputBox {
    flex: 3;
}

.contactFormInputBox input {
    font-size: .75rem;
}

.contactFormInputBox .formSubmitButtonContainer {
    padding-left: 8%;
    padding-right: 8%;
    margin-bottom: 50px;
}

.contactFormFooterText {
    bottom: 5px;
    position: absolute;
    left: 0px;
    right: 0px;
    text-align: center;
    font-family: HelveticaNeue-Light;
    font-size: 12px;
}


/* scoreboard */

.scoreboardWrapper {
    padding-top: 50px!important;
    padding-bottom: 50px!important;
    padding-left: 20px!important;
    padding-right: 20px!important;
}

.scoreboardWrapper>div {
    color: rgb(142, 142, 142);
}

.scoreboardMainCatHeading {
    font-family: HelveticaNeue-Medium;
}

.scoreboardCatWrapper {
    box-shadow: 0px 0px 6px -1px rgb(178, 178, 178);
    border-radius: 3px;
    min-height: 30px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.scoreboardCatSubHeading {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    width: 100%;
}

.scoreboardScoreView .scoreboardScoreItem {
    padding: 0px;
    padding-left: 30px;
    padding-right: 10px;
}

.scoreboardCounter {
    flex: 1;
}

.scoreboardDisplayPic {
    flex: 2;
    cursor: pointer;
}

.scoreboardDisplayPicWrapper {
    width: 100%;
    padding-top: 100%;
    position: relative;
    box-shadow: 0px 0px 4px rgb(128, 128, 128);
    border-radius: 50%;
    overflow: hidden;
}

.scoreboardDisplayPicWrapper img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.scoreboardDisplayName {
    flex: 8;
    cursor: pointer;
}


/*timeline*/

.timelineTimerWrapper {
    margin-top: 50px !important;
    color: gray;
}

@media not screen and (max-width:620px) {
    .timelineTimerWrapper {
        justify-content: center!important;
    }
}

.timelineTimerWrapper>div {
    height: 100px;
}

.timelineTimerBox {
    height: 100px;
    width: 100px;
    box-shadow: 0px 0px 4px rgb(128, 128, 128);
    border-radius: 50%;
    display: inline-block;
    line-height: 100px;
}

.timelineTimerBox h4 {
    line-height: 100px;
    text-align: center;
    font-family: 'Hoefler Text';
    font-size: 40px;
}

.timelineTimerLabelBox {
    display: inline-block;
    margin-left: 10px;
}

.timelineTimerLabel h4 {
    font-family: HelveticaNeue-Medium;
}

.timelineTimerBoxEach {
    box-sizing: content-box;
    padding: 10px;
}

.timelineTimerFooterTextBox {
    display: block;
    text-align: center;
    font-family: HelveticaNeue-Light;
    width: 100%;
    margin-top: 20px;
}

.timelineEachItem {
    height: 150px;
    width: 150px;
    box-shadow: 0px 0px 4px rgb(128, 128, 128);
    border-radius: 50%;
    color: rgb(143, 142, 142);
    z-index: 1;
    cursor: pointer;
}

.timelineEachItem.active {
    box-shadow: 0px 0px 20px rgb(108, 173, 76);
}

.timelineEachItem h6 {
    text-align: center;
    line-height: 150px;
    font-family: HelveticaNeue-Medium;
}

.timelineWrapper>div {
    padding: 30px!important;
    padding-top: 50px!important;
    padding-bottom: 50px!important;
}