{% extends 'header.html' %}
{% load static %}
{% block body %}

<div id="bodyWrapper" class="container">

    <div class="accountSettingsWrapper row noMargin justify-content-center">

        <div class="accountSettingsBox col-md-5">
            <div class="accountSettingsMainHeading">
                <span id="accountSettingsBackBtnContainer"></span>
                <h5> Account Settings & Preferences</h5>
            </div>

            <div class="accountSettingsBoxContent">
                <div class="accountSettingsCat">
                    <div class="accountSettingsCatHeading">
                        General
                    </div>
                    <div class="accountSettingsItemWrapper">
                        <div class="accountSettingsEachItem d-flex">
                            <div class="p-2 accountSettingsItemKey">
                                Username:
                            </div>
                            <div class="p-2 accountSettingsItemValue" id="accountSettingsUsernameInpContainer">
                                <span>
                                    <input type="text" value="" class="accountSettingsItemValueInput" disabled />
                                    <span class="fas fa-pencil-alt accountSettingsItemEditButton"></span>
                                </span>
                            </div>
                        </div>

                        <div class="accountSettingsEachItem d-flex">
                            <div class="p-2 accountSettingsItemKey">
                                First Name:
                            </div>
                            <div class="p-2 accountSettingsItemValue" id="accountSettingsFirstnameInpContainer">
                                <span>
                                    <input type="text" value="" class="accountSettingsItemValueInput" disabled />
                                    <span class="fas fa-pencil-alt accountSettingsItemEditButton"></span>
                                </span>
                            </div>
                        </div>

                        <div class="accountSettingsEachItem d-flex">
                            <div class="p-2 accountSettingsItemKey">
                                Last Name:
                            </div>
                            <div class="p-2 accountSettingsItemValue" id="accountSettingsLastnameInpContainer">
                                <span>
                                    <input type="text" value="" class="accountSettingsItemValueInput"
                                        disabled />
                                    <span class="fas fa-pencil-alt accountSettingsItemEditButton"></span>
                                </span>
                            </div>
                        </div>

                        <div class="accountSettingsEachItem d-flex">
                            <div class="p-2 accountSettingsItemKey">
                                Email:
                            </div>
                            <div class="p-2 accountSettingsItemValue" id="accountSettingsEmailInpContainer">
                                <span>
                                    <input type="text" value=""
                                        class="accountSettingsItemValueInput" disabled />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accountSettingsCat">
                    <div class="accountSettingsCatHeading">
                        Security & Preferences
                    </div>
                    <div class="accountSettingsItemWrapper">
                        <div class="accountSettingsEachItem d-flex">
                            <div class="p-2 accountSettingsItemKey">
                                Password:
                            </div>
                            <div class="p-2 accountSettingsItemValue" id="accountSettingsPasswordInpContainer">
                                <span>
                                    <input type="password" value="" class="accountSettingsItemValueInput"
                                        disabled />
                                    <span class="fas fa-pencil-alt accountSettingsItemEditButton"></span>
                                </span>
                            </div>
                        </div>

                        <div class="accountSettingsEachItem d-flex">
                            <div class="p-2 noPaddingStrict flex-fill impEmailKey">
                                Receive important emails:*
                            </div>
                            <div class="p-2 noPaddingStrict flex-fill impEmailValue justify-content-end d-flex" id="accountSettingsImpEmailContainer">
                                <label class="switch noMargin">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                    <span class="sliderStatus">ON</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accountSettingsFooterDetail">
                *Includes notification about your account security & active competitions schedules.
            </div>
        </div>

    </div>

</div>

{% endblock %}