{% extends 'header.html' %}
{% load static %}
{% block body %}

<div id="bodyWrapper" class="container">

    <div class="accountSettingsWrapper row noMargin justify-content-center">

        <div class="accountSettingsBox col-md-5">
            <div class="accountSettingsMainHeading">
                <span class="fas fa-arrow-left"></span>
                <h5>Account Settings & Preferences</h5>
            </div>

            <div class="accountSettingsCat">
                <div class="accountSettingsCatHeading">
                    General
                </div>
                <div class="accountSettingsItemWrapper">
                    <div class="accountSettingsEachItem d-flex">
                        <div class="p-2 accountSettingsItemKey">
                            Username:
                        </div>
                        <div class="p-2 accountSettingsItemValue">
                            <input type="text" value="bishnudev" class="accountSettingsItemValueInput" disabled />
                            <span class="fas fa-pencil-alt accountSettingsItemEditButton"></span>
                        </div>
                    </div>

                    <div class="accountSettingsEachItem d-flex">
                        <div class="p-2 accountSettingsItemKey">
                            Full Name:
                        </div>
                        <div class="p-2 accountSettingsItemValue">
                            <input type="text" value="Bishnu Dev" class="accountSettingsItemValueInput" disabled />
                            <span class="fas fa-pencil-alt accountSettingsItemEditButton"></span>
                        </div>
                    </div>

                    <div class="accountSettingsEachItem d-flex">
                        <div class="p-2 accountSettingsItemKey">
                            Email:
                        </div>
                        <div class="p-2 accountSettingsItemValue">
                            <input type="text" value="bishnu.dev52@gmail.com" class="accountSettingsItemValueInput"
                                disabled />
                        </div>
                    </div>
                </div>
            </div>

            <div class="accountSettingsCat">
                <div class="accountSettingsCatHeading">
                    Security & Preferences
                </div>
                <div class="accountSettingsItemWrapper">
                    <div class="accountSettingsEachItem d-flex">
                        <div class="p-2 accountSettingsItemKey">
                            Password:
                        </div>
                        <div class="p-2 accountSettingsItemValue">
                            <input type="password" value="bishnudev" class="accountSettingsItemValueInput" disabled />
                            <span class="fas fa-pencil-alt accountSettingsItemEditButton"></span>
                        </div>
                    </div>

                    <div class="accountSettingsEachItem d-flex">
                        <div class="p-2 noPaddingStrict flex-fill impEmailKey">
                            Receive important emails:*
                        </div>
                        <div class="p-2 noPaddingStrict flex-fill impEmailValue justify-content-end d-flex">
                            <!-- Rounded switch -->
                            <label class="switch noMargin">
                                <input type="checkbox">
                                <span class="slider round"></span>
                                <span class="sliderStatus">ON</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accountSettingsFooterDetail">
                *Includes notification about your account security & active competitions schedules.
            </div>
        </div>

    </div>

</div>

{% endblock %}