{% extends 'header.html' %}
{% load static %}
{% block body %}

<div id="bodyWrapper" class="container">
    <div class="practiceCatWrapper">
        <div class="row catWrapper noMargin">
            <div class="catTitle">
                <h4>{{roundname}}: <small>{% if isActive == True %}<kbd style="background-color:#4CAF50;">Active</kbd>{% else %}<kbd>Inactive</kbd>{% endif %}</small></h4>
            </div>

            <div class="row questionsWrapper justify-content-md-around">
                {% for question, successrate in questions %}
                <div class="col-md-5 questionBox" onclick="showQuestion('{% url "questionscreen" question.title|slugify question.id "1" %}')">
                    <div class="question-details">
                        <h4>{{ question.title }}</h4>
                        <span class="question-details-minor">Total Points: {{ question.points }}</span>
                        <span class="question-details-minor">Extra: {{ question.subscore }}</span>
                    </div>
                    <div class="question-difficulty">
                        <div class="question-difficulty-percent-wrapper">
                            <div class="question-difficulty-percent">{{ successrate }}</div>
                        </div>
                        <span class="question-difficulty-minor">Success Rate</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}