{% block header %}{% endblock %}

<div id="footerWrapper">
    <div id="footerNavWrapper">
        <div class="row">
            <div class="col">
                <span class="footerNavTitle">About Us:</span>
                <ul style="list-style: none;">
                    <li><a href="">Contact form</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Terms & Conditions</a></li>
                    <li><a href="">Site Map</a></li>
                </ul>
            </div>
            <div class="col">
                <span class="footerNavTitle">CodersLab:</span>
                <ul style="list-style: none;">
                    <li><a href="">Volunteer</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Sponsors</a></li>
                    <li><a href="">Developers</a></li>
                    <li><a href="">More resources</a></li>
                </ul>
            </div>
            <div class="col">
                <span class="footerNavTitle">Get updates to your inbox:</span>
                <div class="subscribeBox">
                    <input type="text" class="form-control" id="pwd" placeholder="Enter your email address" />
                    <button type="button" class="btn btn-link"><span class="fas fa-arrow-right"></span></button>
                </div>
                <div class="socialIcons">
                    <a href="" class="facebook"><span class="fab fa-facebook-f"></span></a>
                    <a href="" class="linkedin"><span class="fab fa-linkedin"></span></a>
                    <a href="" class="instagram"><span class="fab fa-instagram"></span></a>
                    <a href="" class="twitter"><span class="fab fa-twitter"></span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="bottonNavGradient">
    </div>
</div>

</div>
</body>

</html>