{% block header %}{% endblock %}
{% block footer %}
{% load static %}
<div id="footerWrapper">
    <div id="footerNavWrapper">
        <div class="row">
            <div class="col">
                <span class="footerNavTitle">About Us:</span>
                <ul style="list-style: none;">
                    <li><a href="/contact-us/">Contact form</a></li>
                    <li><a href="{% url 'privacypolicyview' %}?next={{ request.path }}">Privacy Policy</a></li>
                    <li><a href="">Terms & Conditions</a></li>
                    <li><a href="">Site Map</a></li>
                </ul>
            </div>
            <div class="col">
                <span class="footerNavTitle">CodersLab:</span>
                <ul style="list-style: none;">
                    <li><a href="">Volunteer</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Sponsors</a></li>
                    <li><a href="">Developers</a></li>
                    <li><a href="">More resources</a></li>
                </ul>
            </div>
            <div class="col">
                <span class="footerNavTitle">Get updates to your inbox:</span>
                <div id="subscribeBoxContainer">
                    <div class="subscribeBox">
                        <input type="text" class="form-control" id="pwd" placeholder="Enter your email address" />
                        <button type="button" class="btn btn-link"><span class="fas fa-arrow-right"></span></button>
                    </div>
                </div>
                <div class="socialIcons">
                    <a href="https://www.facebook.com/CodersLab-883282698685530" class="facebook"><span
                            class="fab fa-facebook-f"></span></a>
                    <a href="" class="linkedin"><span class="fab fa-linkedin"></span></a>
                    <a href="" class="instagram"><span class="fab fa-instagram"></span></a>
                    <a href="" class="twitter"><span class="fab fa-twitter"></span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="bottonNavGradient">
    </div>
</div>

</div>


<!-- Load React. -->
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<!-- React Components -->
<script src="{% static 'global/js/react-components.js' %}"></script>

<!-- Load the React component. -->
{% if request.user.is_authenticated %}
<script src="{% static 'global/js/header-react.js' %}"></script>
{% endif %}
{% if request.path == '/register/' %}
<script src="{% static 'register/js/register-react.js' %}"></script>
{% elif request.path == '/' %}
<script src="{% static 'homepage/js/homepage-react.js' %}"></script>
{% elif request.path == '/login/' %}
<script src="{% static 'login/js/login-react.js' %}"></script>
{% elif '/question/' in request.path %}
<script src="{% static 'questionscreen/js/questionscreen-react.js' %}"></script>
{% elif '/timeline/' in request.path %}
<script src="{% static 'timeline/js/timeline-react.js' %}"></script>
{% elif '/scoreboard/' in request.path %}
<script src="{% static 'scoreboard/js/scoreboard-react.js' %}"></script>
{% elif '/user/' in request.path %}
<script src="{% static 'userprofile/js/userprofile-react.js' %}"></script>
{% elif request.path == '/avatar/change/' %}
<script src="{% static 'userprofile/js/avatar-change-react.js' %}"></script>
{% elif request.path == '/avatar/delete/' %}
<script src="{% static 'userprofile/js/avatar-delete-react.js' %}"></script>
{% elif request.path == '/account/' %}
<script src="{% static 'accountsettings/js/accountsettings-react.js' %}"></script>
{% elif request.path == '/contact-us/' %}
<script src="{% static 'contactpage/js/contactpage-react.js' %}"></script>
{% elif request.path == '/login/recover/' %}
<script src="{% static 'recoveraccount/js/recover-account-react.js' %}"></script>
{% elif request.path == '/login/recover/done/' %}
<script src="{% static 'recoveraccount/js/recover-done-react.js' %}"></script>
{% elif request.path == '/login/recover/complete/' %}
<script src="{% static 'recoveraccount/js/recover-complete-react.js' %}"></script>
{% elif request.path == '/usersubmissions/' %}
<script src="{% static 'usersubmissions/js/usersubmissions-react.js' %}"></script>
{% elif request.path == '/misc/privacy-policy/' %}
<script src="{% static 'global/js/privacy-policy-react.js' %}"></script>
{% endif %}

<!-- Footer React Components -->
<script src="{% static 'global/js/footer-react.js' %}"></script>


</body>

</html>
{% endblock %}