{% extends 'header.html' %}
{% load static %}
{% block body %}

<div id="bodyWrapper">

    <div class="homepageBodyMsg">
        <span class="welcomeText">Welcome,</span>
        <span class="conText">Coders Of Nepal</span>
        <p>Participate and win upto 20,000 cash prizes. Show <br />
            your coding skills and get nationally recognized.</p>

        <div class="homepageBodyBtnWrapper">
            <div id="getStartedBtn">
            </div>
            <div id="learnMoreBtn">
                <button type="button" class="btn bodyLearnMoreBtn">Learn more</button>
            </div>
        </div>
    </div>

    <div class="homePageBodyImg">
        <Img src="{% static 'global/images/homepageimg.png' %}" class="img-response" alt="coderslab" />
    </div>

</div>

<!-- Load React. -->
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

<!-- Load our React component. -->
<script src="{% static 'homepage/js/homepage-react.js' %}"></script>


{% endblock %}