{% extends 'header.html' %}
{% load static %}
{% block body %}

<div id="bodyWrapper">

    <div class="homepageBodyMsg">
        <span class="welcomeText">Welcome, </span>
        <span class="conText">Coders Of Nepal</span>
        <p>Practice, Participate, and Win!</p>

        <div class="homepageBodyBtnWrapper">
            <div id="getStartedBtn">
            </div>
            <div id="learnMoreBtn">
                <button type="button" class="btn bodyLearnMoreBtn">Learn more</button>
            </div>
        </div>
    </div>

    <div class="homePageBodyImg">
        <Img src="{% static 'global/images/homepageimg.png' %}" class="img-response" alt="coderslab" />
    </div>

</div>

{% endblock %}