{% extends 'header.html' %}
{% load static %}
{% block body %}

<div id="bodyWrapper" class="container">
    <div class="row justify-content-center noMargin">
        <div class="col loginWrapper">
            <div class="formLogo center-block">
                <img src="{% static 'global/images/biglogo.png' %}" />
            </div>
            <div class="loginForm">
                <form autocomplete="off" method="post" action="">
                    <input autocomplete="false" name="hidden" type="text" style="display:none;">
                    <div class="form-group inputWithIconContainer">
                        <input type="text" class="form-control inputWithIcon" id="usernameoremailInp"
                            placeholder="Enter username or email" onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Enter username or email'" />

                        <span class="fas fa-user inputIcon"></span>
                    </div>
                    <div class="form-group inputWithIconContainer">
                        <input type="password" class="form-control inputWithIcon" id="passwordInp" placeholder="Your password here"
                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your password here'" />
                        <span class="fas fa-lock inputIcon"></span>
                    </div>
                    <div class="form-group formSubmitButtonContainer" id="loginBtnContainer">

                    </div>
                </form>
            </div>
            <div class="signInOptionsWrapper">
                <div class="signInWith">Sign in with:</div>
                <div class="googleSignIn" id="googleSignInContainer">
                </div>
                <div class="facebookSignIn" id="facebookSignInContainer">
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}