{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Logout</title>
    <meta name="google-signin-client_id"
    content="43423819785-efv9qqqm0vshbpic0grnl7aa60iba100.apps.googleusercontent.com"> 

    <script src="https://apis.google.com/js/platform.js?onload=onLoad"></script>
</head>

<body>

    <div id="root">

    </div>

    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="{% static 'logout/js/logout-react.js' %}" type="text/javascript"></script>
</body>

</html>
