{% extends 'header.html' %}
{% load static %}
{% block body %}

<div id="bodyWrapper">
    <div class="practiceCatWrapper">
        <div class="row catWrapper noMargin">
            <div class="catTitle">
                <h4>Round 1A Warm Up:</h4>
            </div>

            <div class="questionsWrapper">

            </div>
        </div>

        <div class="row catWrapper noMargin">
            <div class="catTitle">
                <h4>Mathematics:</h4>
            </div>
        </div>
    </div>
</div>

{% endblock %}