{% extends 'header.html' %}
{% load static %}
{% block body %}

<div id="bodyWrapper" class="container">
    <div class="practiceCatWrapper">
        {% for category in cat %}

        <div class="row catWrapper noMargin">
            <div class="catTitle">
                <h4>{{ category }}:</h4>
            </div>

            <div class="row questionsWrapper justify-content-md-around">
                {% for question in questions %}
                {% if question.get_category_display == category %}
                <div class="col-md-5 questionBox">
                    <div class="question-details">
                        <h4>{{ question.title }}</h4>
                        <span class="question-details-minor">Total Points: {{ question.points }}</span>
                        <span class="question-details-minor">Extra: {{ question.subscore }}</span>
                    </div>
                    <div class="question-difficulty">
                        <div class="question-difficulty-percent-wrapper">
                            <div class="question-difficulty-percent">N/A</div>
                        </div>
                        <span class="question-difficulty-minor">Success Rate</span>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>

        {% endfor %}
    </div>
</div>

{% endblock %}