{% extends 'header.html' %}
{% load static %}
{% block body %}

<div id="bodyWrapper">
    <div class="practiceCatWrapper">
        <div class="row catWrapper noMargin">
            <div class="catTitle">
                <h4>Round 1A Warm Up:</h4>
            </div>

            <div class="row questionsWrapper justify-content-md-around">
                <div class="col-md-5 questionBox">
                    <div class="question-details">
                        <h4>Sum to infinity</h4>
                        <span class="question-details-minor">Total Points: 30</span>
                        <span class="question-details-minor">Extra: 10</span>
                    </div>
                    <div class="question-difficulty">
                        <div class="question-difficulty-percent-wrapper">
                            <div class="question-difficulty-percent">90%</div>
                        </div>
                        <span class="question-difficulty-minor">Success Rate</span>
                    </div>
                </div>
                <div class="col-md-5 questionBox">
                    <div class="question-details">
                        <h4>Sum to infinity</h4>
                        <span class="question-details-minor">Total Points: 30</span>
                        <span class="question-details-minor">Extra: 10</span>
                    </div>
                    <div class="question-difficulty">
                        <div class="question-difficulty-percent-wrapper">
                            <div class="question-difficulty-percent">90%</div>
                        </div>
                        <span class="question-difficulty-minor">Success Rate</span>
                    </div>
                </div>
                <div class="col-md-5 questionBox">
                    <div class="question-details">
                        <h4>Sum to infinity</h4>
                        <span class="question-details-minor">Total Points: 30</span>
                        <span class="question-details-minor">Extra: 10</span>
                    </div>
                    <div class="question-difficulty">
                        <div class="question-difficulty-percent-wrapper">
                            <div class="question-difficulty-percent">90%</div>
                        </div>
                        <span class="question-difficulty-minor">Success Rate</span>
                    </div>
                </div>
                <div class="col-md-5 questionBox">
                    <div class="question-details">
                        <h4>Sum to infinity</h4>
                        <span class="question-details-minor">Total Points: 30</span>
                        <span class="question-details-minor">Extra: 10</span>
                    </div>
                    <div class="question-difficulty">
                        <div class="question-difficulty-percent-wrapper">
                            <div class="question-difficulty-percent">90%</div>
                        </div>
                        <span class="question-difficulty-minor">Success Rate</span>
                    </div>
                </div>
                <div class="col-md-5 questionBox">
                    <div class="question-details">
                        <h4>Sum to infinity</h4>
                        <span class="question-details-minor">Total Points: 30</span>
                        <span class="question-details-minor">Extra: 10</span>
                    </div>
                    <div class="question-difficulty">
                        <div class="question-difficulty-percent-wrapper">
                            <div class="question-difficulty-percent">90%</div>
                        </div>
                        <span class="question-difficulty-minor">Success Rate</span>
                    </div>
                </div>
                <div class="col-md-5 questionBox">
                    <div class="question-details">
                        <h4>Sum to infinity</h4>
                        <span class="question-details-minor">Total Points: 30</span>
                        <span class="question-details-minor">Extra: 10</span>
                    </div>
                    <div class="question-difficulty">
                        <div class="question-difficulty-percent-wrapper">
                            <div class="question-difficulty-percent">90%</div>
                        </div>
                        <span class="question-difficulty-minor">Success Rate</span>
                    </div>
                </div>
                <div class="col-md-5 questionBox">
                    <div class="question-details">
                        <h4>Sum to infinity</h4>
                        <span class="question-details-minor">Total Points: 30</span>
                        <span class="question-details-minor">Extra: 10</span>
                    </div>
                    <div class="question-difficulty">
                        <div class="question-difficulty-percent-wrapper">
                            <div class="question-difficulty-percent">90%</div>
                        </div>
                        <span class="question-difficulty-minor">Success Rate</span>
                    </div>
                </div>
                <div class="col-md-5 questionBox">
                    <div class="question-details">
                        <h4>Sum to infinity</h4>
                        <span class="question-details-minor">Total Points: 30</span>
                        <span class="question-details-minor">Extra: 10</span>
                    </div>
                    <div class="question-difficulty">
                        <div class="question-difficulty-percent-wrapper">
                            <div class="question-difficulty-percent">90%</div>
                        </div>
                        <span class="question-difficulty-minor">Success Rate</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row catWrapper noMargin">
            <div class="catTitle">
                <h4>Mathematics:</h4>
            </div>
            <div class="row questionsWrapper justify-content-md-around">
                <div class="col-md-5 questionBox">
                    <div class="question-details">
                        <h4>Sum to infinity</h4>
                        <span class="question-details-minor">Total Points: 30</span>
                        <span class="question-details-minor">Extra: 10</span>
                    </div>
                    <div class="question-difficulty">
                        <div class="question-difficulty-percent-wrapper">
                            <div class="question-difficulty-percent">90%</div>
                        </div>
                        <span class="question-difficulty-minor">Success Rate</span>
                    </div>
                </div>
                <div class="col-md-5 questionBox">
                    <div class="question-details">
                        <h4>Sum to infinity</h4>
                        <span class="question-details-minor">Total Points: 30</span>
                        <span class="question-details-minor">Extra: 10</span>
                    </div>
                    <div class="question-difficulty">
                        <div class="question-difficulty-percent-wrapper">
                            <div class="question-difficulty-percent">90%</div>
                        </div>
                        <span class="question-difficulty-minor">Success Rate</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}