{% extends 'header.html' %}
{% load static %}
{% block body %}

<div id="bodyWrapper">
    <div class="row noMargin questionscreenWrapper justify-content-md-around">
        <div class="col-md-8 questionViewBox">
            <div class="question-title">
                <button type="button" class="btn btn-link questionBackBtn">
                    <li class="fas fa-arrow-left"></li>
                </button>
                <h1>Sum to infinity</h1>
            </div>

            <div class="question-description">
                <p>
                    Lily has a chocolate bar that she wants to share it with Ron for his birthday. Each of the squares
                    has an integer on it. She decides to share a contiguous segment of the bar selected such that the
                    length of the segment matches Ron’s birth month and the sum of the integers on the squares is equal
                    to his birth day. You must determine how many ways she can divide the chocolate.
                    <br />
                    Consider the chocolate bar as an array of squares, . She wants to find segments summing to Ron’s
                    birth day, with a length equalling his birth month, . In this case, there are two segments meeting
                    her criteria: and .
                    <br />
                    <br />
                    <strong>Function Description</strong>
                    Complete the birthday function in the editor below. It should return an integer denoting the number
                    of ways Lily can divide the chocolate bar.
                    <br />
                    birthday has the following parameter(s):
                    <br />
                    s: an array of integers, the numbers on each of the squares of chocolate
                    d: an integer, Ron’s birth day
                    m: an integer, Ron’s birth month
                    <br />
                    <br />
                    <strong>Input Format</strong>
                    The first line contains an integer , the number of squares in the chocolate bar.
                    The second line contains space-separated integers , the numbers on the chocolate squares where .
                    The third line contains two space-separated integers, and , Ron’s birth day and his birth month.
                    <br />
                    Constraints
                    <br />
                    , where ()
                    Output Format
                    <br />
                    Print an integer denoting the total number of ways that Lily can portion her chocolate bar to share
                    with Ron.
                </p>
            </div>
        </div>
        <div class="col-md-3 question-right-sidebar">
            <div class="questionViewDifficultyWrapper d-flex flex-column">

                <div class="p-2 flex-grow-1 questionSubmissionsWrapper">
                    <div class="questionSubmissionsView">
                        2304
                    </div>
                    <div class="totalSubmissionsText">Total Submissions</div>
                </div>

                <div class="p-2 d-flex questionSubmissionsStatsWrapper">
                    <div class="p-2 flex-fill">
                        <div class="questionSubmissionsSuccessRate">
                            98%
                        </div>
                        <div class="questionSubmissionsStatsLabel">
                            Success Rate
                        </div>
                    </div>
                    <div class="p-2 flex-fill">
                        <div class="questionSubmissionsFailureRate">
                            2%
                        </div>
                        <div class="questionSubmissionsStatsLabel">
                            Failure Rate
                        </div>
                    </div>
                </div>

            </div>
            <div class="questionViewScoreWrapper d-flex flex-column">

                <div class="p-2 flex-fill d-flex">
                    <div class="p-2 flex-fill scoreDisplayBox">
                        <div class="scoreDisplay">
                            30
                        </div>
                        <div class="scoreDisplayLabel">
                            Total Score
                        </div>
                    </div>

                    <div class="p-2 flex-fill scoreDisplayBox">
                        <div class="scoreDisplay">
                            10
                        </div>
                        <div class="scoreDisplayLabel">
                            Sub Score
                        </div>
                    </div>
                </div>

                <div class="p-2 flex-fill">
                    <div class="scoreDisplayBox">
                        <div class="scoreDisplay">
                            40
                        </div>
                        <div class="scoreDisplayLabel">
                            Your Score
                        </div>
                    </div>

                    <div class="userSubmissionsCountDisplay">
                        Your Submissions: 2
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}