{% extends 'header.html' %}
{% load static %}
{% block body %}

<div id="bodyWrapper" class="container">
    <div class="row noMargin questionscreenWrapper justify-content-md-around">
        <div class="col-md-8 questionViewBox">
            <div class="question-title">
                <div id="questionBackBtnContainer">

                </div>
                <h1>{{ question.title }}</h1>
            </div>

            <div class="question-description">
                <p>
                    {% autoescape off %}
                    {{ question.content }}
                    {% endautoescape %}
                </p>
            </div>
        </div>
        <div class="col-md-3 question-right-sidebar">
            <div class="questionViewDifficultyWrapper d-flex flex-column">

                <div class="p-2 flex-grow-1 questionSubmissionsWrapper">
                    <div class="questionSubmissionsView">
                        2304
                    </div>
                    <div class="totalSubmissionsText">Total Submissions</div>
                </div>

                <div class="p-2 d-flex questionSubmissionsStatsWrapper">
                    <div class="p-2 flex-fill">
                        <div class="questionSubmissionsSuccessRate">
                            98%
                        </div>
                        <div class="questionSubmissionsStatsLabel">
                            Success Rate
                        </div>
                    </div>
                    <div class="p-2 flex-fill">
                        <div class="questionSubmissionsFailureRate">
                            2%
                        </div>
                        <div class="questionSubmissionsStatsLabel">
                            Failure Rate
                        </div>
                    </div>
                </div>

            </div>
            <div class="questionViewScoreWrapper d-flex flex-column">

                <div class="p-2 flex-fill d-flex">
                    <div class="p-2 flex-fill scoreDisplayBox">
                        <div class="scoreDisplay">
                            {{ question.points }}
                        </div>
                        <div class="scoreDisplayLabel">
                            Total Score
                        </div>
                    </div>

                    <div class="p-2 flex-fill scoreDisplayBox">
                        <div class="scoreDisplay">
                            {{ question.subscore }}
                        </div>
                        <div class="scoreDisplayLabel">
                            Sub Score
                        </div>
                    </div>
                </div>

                <div class="p-2 flex-fill">
                    <div class="scoreDisplayBox">
                        <div class="scoreDisplay">
                            40
                        </div>
                        <div class="scoreDisplayLabel">
                            Your Score
                        </div>
                    </div>

                    <div class="userSubmissionsCountDisplay">
                        Your Submissions: 2
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="questionScreenEditorHeading">
                <h4>Code Editor:</h4>
            </div>

            <div id="questionScreenEditorContainer">
                <div>
                    <div class="questionScreenEditor" id="questionScreenEditor"></div>
                    <div class="questionScreenEditorSubmission justify-content-md-around d-flex">
                        <div class="col-sm-3 questionScreenProgrammingLanguageContainer">
                            <div class="form-group questionScreenSubmissionLanguage">
                                <label for="sel1">Programming Language:</label>
                                <select class="form-control" id="sel1">
                                    <option>Python</option>
                                    <option>C++</option>
                                    <option>Javascript</option>
                                    <option>Java</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4 questionScreenSubmitBtnContainer">
                            <div class="form-group formSubmitButtonContainer" id='questionScreenSubmissionBtnWrapper'>
                                <button type="button" class="btn btn-block formSubmitButton">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}