{% extends 'header.html' %}
{% load static %}
{% block body %}

<div id="bodyWrapper" class="container">
    <div class="row noMargin questionscreenWrapper justify-content-md-around">
        <div class="col-md-8 questionViewBox">
            <div class="question-title">
                <button type="button" class="btn btn-link questionBackBtn">
                    <li class="fas fa-arrow-left"></li>
                </button>
                <h1>{{ question.title }}</h1>
            </div>

            <div class="question-description">
                {% autoescape off %}
                {{ question.content }}
                {% endautoescape %}
            </div>
        </div>
        <div class="col-md-3 question-right-sidebar">
            <div class="questionViewDifficultyWrapper d-flex flex-column">

                <div class="p-2 flex-grow-1 questionSubmissionsWrapper">
                    <div class="questionSubmissionsView">
                        2304
                    </div>
                    <div class="totalSubmissionsText">Total Submissions</div>
                </div>

                <div class="p-2 d-flex questionSubmissionsStatsWrapper">
                    <div class="p-2 flex-fill">
                        <div class="questionSubmissionsSuccessRate">
                            98%
                        </div>
                        <div class="questionSubmissionsStatsLabel">
                            Success Rate
                        </div>
                    </div>
                    <div class="p-2 flex-fill">
                        <div class="questionSubmissionsFailureRate">
                            2%
                        </div>
                        <div class="questionSubmissionsStatsLabel">
                            Failure Rate
                        </div>
                    </div>
                </div>

            </div>
            <div class="questionViewScoreWrapper d-flex flex-column">

                <div class="p-2 flex-fill d-flex">
                    <div class="p-2 flex-fill scoreDisplayBox">
                        <div class="scoreDisplay">
                            {{ question.points }}
                        </div>
                        <div class="scoreDisplayLabel">
                            Total Score
                        </div>
                    </div>

                    <div class="p-2 flex-fill scoreDisplayBox">
                        <div class="scoreDisplay">
                            {{ question.subscore }}
                        </div>
                        <div class="scoreDisplayLabel">
                            Sub Score
                        </div>
                    </div>
                </div>

                <div class="p-2 flex-fill">
                    <div class="scoreDisplayBox">
                        <div class="scoreDisplay">
                            40
                        </div>
                        <div class="scoreDisplayLabel">
                            Your Score
                        </div>
                    </div>

                    <div class="userSubmissionsCountDisplay">
                        Your Submissions: 2
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}