{% extends 'header.html' %}
{% load static %}
{% block body %}


<!-- Facebook login -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3&appId=2276120986006308&autoLogAppEvents=1"></script>
<!-- Facebook Login Ends -->

<div id="bodyWrapper">

    <div class="row justify-content-center noMargin">
        <div class="col registerWrapper">
            <div class="formLogo center-block">
                <img src="{% static 'global/images/biglogo.png' %}" />
            </div>
            <div class="registerForm">
                <form autocomplete="off" method="post" action="">
                    <input autocomplete="false" name="hidden" type="text" style="display:none;">
                    <div class="form-group inputWithIconContainer">
                        <input type="text" class="form-control inputWithIcon" id="usr1" placeholder="Pick a username"
                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'Pick a username'" />

                        <span class="fas fa-user inputIcon"></span>
                    </div>
                    <div class="form-group inputWithIconContainer">
                        <input type="text" class="form-control inputWithIcon" id="email"
                            placeholder="Enter your email address" onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Enter your email address'" />
                        <span class="fas fa-envelope inputIcon" style="top:9px; left:10px;"></span>
                    </div>
                    <div class="form-group inputWithIconContainer">
                        <input type="text" class="form-control inputWithIcon" id="pwd1" placeholder="Choose a password"
                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'Choose a password'" />
                        <span class="fas fa-lock inputIcon"></span>
                    </div>
                    <div class="form-group formSubmitButtonContainer">
                        <button type="button" class="btn btn-block formSubmitButton">Sign Up</button>
                    </div>
                </form>
            </div>
            <div class="signInOptionsWrapper">
                <div class="signInWith">Sign in with:</div>
                <div class="googleSignIn">
                    <div class="g-signin2" data-width="90" data-height="30" data-onsuccess="onSignIn"></div>
                </div>
                <div class="facebookSignIn">
                    <div class="fb-login-button" data-width="" data-size="medium" data-button-type="login_with"
                        data-auto-logout-link="false" data-use-continue-as="false"></div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}