{% extends 'header.html' %}
{% load static %}
{% block body %}

<div id="bodyWrapper" class="container">
    <div class="row scoreboardWrapper justify-content-around noMargin">
        <div class="col-lg-6 scoreboardMainCat">
            <div class="scoreboardMainCatHeading">
                <h4>Competitions</h4>
            </div>

            <div class="scoreboardCatWrapper">
                <div class="scoreboardCatSubHeading">
                    <h5>Round 1A</h5>
                </div>

                <div class="row noMargin noPaddingStrict scoreboardScoreView" id="competitionUsersScoreboardView">
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="scoreboardMainCatHeading">
                <h4>Overall</h4>
            </div>


            <div class="scoreboardCatWrapper">
                    <div class="scoreboardCatSubHeading">
                        <h5>All Time</h5>
                    </div>
    
                    <div class="row noMargin noPaddingStrict scoreboardScoreView" id="overallUsersScoreboardView">
                    </div>
                </div>
        </div>
    </div>
</div>

{% endblock %}