{% extends 'header.html' %}
{% load static %}
{% block body %}

<div id="bodyWrapper" class="container">
    <div class="row scoreboardWrapper justify-content-around noMargin">
        <div class="col-sm-6 scoreboardMainCat">
            <div class="scoreboardMainCatHeading">
                <h4>Competitions</h4>
            </div>

            <div class="scoreboardCatWrapper">
                <div class="scoreboardCatSubHeading">
                    <h5>Round 1A</h5>
                </div>

                <div class="row noMargin noPaddingStrict scoreboardScoreView" id="competitionUsersScoreboardView">
                    
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="scoreboardMainCatHeading">
                <h4>Overall</h4>
            </div>


            <div class="scoreboardCatWrapper">
                    <div class="scoreboardCatSubHeading">
                        <h5>Last Month</h5>
                    </div>
    
                    <div class="row noMargin noPaddingStrict scoreboardScoreView">
                        <div class="col-sm-6 d-flex scoreboardScoreItem">
                            <div class="p-2 scoreboardCounter justify-content-center align-items-center d-flex">
                                1.
                            </div>
                            <div class="p-2 scoreboardDisplayPic">
                                <div class="scoreboardDisplayPicWrapper">
    
                                </div>
                            </div>
                            <div class="p-2 scoreboardDisplayName d-flex align-items-center">
                                John Kennady
                            </div>
                        </div>
    
                        <div class="col-sm-6 d-flex scoreboardScoreItem">
                            <div class="p-2 scoreboardCounter justify-content-center align-items-center d-flex">
                                2.
                            </div>
                            <div class="p-2 scoreboardDisplayPic">
                                <div class="scoreboardDisplayPicWrapper">
    
                                </div>
                            </div>
                            <div class="p-2 scoreboardDisplayName d-flex align-items-center">
                                John Kennady
                            </div>
                        </div>
    
                        <div class="col-sm-6 d-flex scoreboardScoreItem">
                            <div class="p-2 scoreboardCounter justify-content-center align-items-center d-flex">
                                3.
                            </div>
                            <div class="p-2 scoreboardDisplayPic">
                                <div class="scoreboardDisplayPicWrapper">
    
                                </div>
                            </div>
                            <div class="p-2 scoreboardDisplayName d-flex align-items-center">
                                John Kennady
                            </div>
                        </div>
    
                        <div class="col-sm-6 d-flex scoreboardScoreItem">
                            <div class="p-2 scoreboardCounter justify-content-center align-items-center d-flex">
                                4.
                            </div>
                            <div class="p-2 scoreboardDisplayPic">
                                <div class="scoreboardDisplayPicWrapper">
    
                                </div>
                            </div>
                            <div class="p-2 scoreboardDisplayName d-flex align-items-center">
                                John Kennady
                            </div>
                        </div>
    
                        <div class="col-sm-6 d-flex scoreboardScoreItem">
                            <div class="p-2 scoreboardCounter justify-content-center align-items-center d-flex">
                                5.
                            </div>
                            <div class="p-2 scoreboardDisplayPic">
                                <div class="scoreboardDisplayPicWrapper">
    
                                </div>
                            </div>
                            <div class="p-2 scoreboardDisplayName d-flex align-items-center">
                                John Kennady
                            </div>
                        </div>
    
                        <div class="col-sm-6 d-flex scoreboardScoreItem">
                            <div class="p-2 scoreboardCounter justify-content-center align-items-center d-flex">
                                6.
                            </div>
                            <div class="p-2 scoreboardDisplayPic">
                                <div class="scoreboardDisplayPicWrapper">
    
                                </div>
                            </div>
                            <div class="p-2 scoreboardDisplayName d-flex align-items-center">
                                John Kennady
                            </div>
                        </div>
    
                        <div class="col-sm-6 d-flex scoreboardScoreItem">
                            <div class="p-2 scoreboardCounter justify-content-center align-items-center d-flex">
                                7.
                            </div>
                            <div class="p-2 scoreboardDisplayPic">
                                <div class="scoreboardDisplayPicWrapper">
    
                                </div>
                            </div>
                            <div class="p-2 scoreboardDisplayName d-flex align-items-center">
                                John Kennady
                            </div>
                        </div>
    
                        <div class="col-sm-6 d-flex scoreboardScoreItem">
                            <div class="p-2 scoreboardCounter justify-content-center align-items-center d-flex">
                                8.
                            </div>
                            <div class="p-2 scoreboardDisplayPic">
                                <div class="scoreboardDisplayPicWrapper">
    
                                </div>
                            </div>
                            <div class="p-2 scoreboardDisplayName d-flex align-items-center">
                                John Kennady
                            </div>
                        </div>
                        <div class="col-sm-6 d-flex scoreboardScoreItem">
                            <div class="p-2 scoreboardCounter justify-content-center align-items-center d-flex">
                                9.
                            </div>
                            <div class="p-2 scoreboardDisplayPic">
                                <div class="scoreboardDisplayPicWrapper">
    
                                </div>
                            </div>
                            <div class="p-2 scoreboardDisplayName d-flex align-items-center">
                                John Kennady
                            </div>
                        </div>
    
                        <div class="col-sm-6 d-flex scoreboardScoreItem">
                            <div class="p-2 scoreboardCounter justify-content-center align-items-center d-flex">
                                10.
                            </div>
                            <div class="p-2 scoreboardDisplayPic">
                                <div class="scoreboardDisplayPicWrapper">
    
                                </div>
                            </div>
                            <div class="p-2 scoreboardDisplayName d-flex align-items-center">
                                John Kennady
                            </div>
                        </div>
    
                        <div class="col-sm-6 d-flex scoreboardScoreItem">
                            <div class="p-2 scoreboardCounter justify-content-center align-items-center d-flex">
                                11.
                            </div>
                            <div class="p-2 scoreboardDisplayPic">
                                <div class="scoreboardDisplayPicWrapper">
    
                                </div>
                            </div>
                            <div class="p-2 scoreboardDisplayName d-flex align-items-center">
                                John Kennady
                            </div>
                        </div>
    
                        <div class="col-sm-6 d-flex scoreboardScoreItem">
                            <div class="p-2 scoreboardCounter justify-content-center align-items-center d-flex">
                                12.
                            </div>
                            <div class="p-2 scoreboardDisplayPic">
                                <div class="scoreboardDisplayPicWrapper">
    
                                </div>
                            </div>
                            <div class="p-2 scoreboardDisplayName d-flex align-items-center">
                                John Kennady
                            </div>
                        </div>
    
                        <div class="col-sm-6 d-flex scoreboardScoreItem">
                            <div class="p-2 scoreboardCounter justify-content-center align-items-center d-flex">
                                13.
                            </div>
                            <div class="p-2 scoreboardDisplayPic">
                                <div class="scoreboardDisplayPicWrapper">
    
                                </div>
                            </div>
                            <div class="p-2 scoreboardDisplayName d-flex align-items-center">
                                John Kennady
                            </div>
                        </div>
    
                        <div class="col-sm-6 d-flex scoreboardScoreItem">
                            <div class="p-2 scoreboardCounter justify-content-center align-items-center d-flex">
                                14.
                            </div>
                            <div class="p-2 scoreboardDisplayPic">
                                <div class="scoreboardDisplayPicWrapper">
    
                                </div>
                            </div>
                            <div class="p-2 scoreboardDisplayName d-flex align-items-center">
                                John Kennady
                            </div>
                        </div>
    
                        <div class="col-sm-6 d-flex scoreboardScoreItem">
                            <div class="p-2 scoreboardCounter justify-content-center align-items-center d-flex">
                                15.
                            </div>
                            <div class="p-2 scoreboardDisplayPic">
                                <div class="scoreboardDisplayPicWrapper">
    
                                </div>
                            </div>
                            <div class="p-2 scoreboardDisplayName d-flex align-items-center">
                                John Kennady
                            </div>
                        </div>
    
                        <div class="col-sm-6 d-flex scoreboardScoreItem">
                            <div class="p-2 scoreboardCounter justify-content-center align-items-center d-flex">
                                16.
                            </div>
                            <div class="p-2 scoreboardDisplayPic">
                                <div class="scoreboardDisplayPicWrapper">
    
                                </div>
                            </div>
                            <div class="p-2 scoreboardDisplayName d-flex align-items-center">
                                John Kennady
                            </div>
                        </div>
    
                        <div class="col-sm-6 d-flex scoreboardScoreItem">
                            <div class="p-2 scoreboardCounter justify-content-center align-items-center d-flex">
                                17.
                            </div>
                            <div class="p-2 scoreboardDisplayPic">
                                <div class="scoreboardDisplayPicWrapper">
    
                                </div>
                            </div>
                            <div class="p-2 scoreboardDisplayName d-flex align-items-center">
                                John Kennady
                            </div>
                        </div>
    
                        <div class="col-sm-6 d-flex scoreboardScoreItem">
                            <div class="p-2 scoreboardCounter justify-content-center align-items-center d-flex">
                                18.
                            </div>
                            <div class="p-2 scoreboardDisplayPic">
                                <div class="scoreboardDisplayPicWrapper">
    
                                </div>
                            </div>
                            <div class="p-2 scoreboardDisplayName d-flex align-items-center">
                                John Kennady
                            </div>
                        </div>
    
                        <div class="col-sm-6 d-flex scoreboardScoreItem">
                            <div class="p-2 scoreboardCounter justify-content-center align-items-center d-flex">
                                19.
                            </div>
                            <div class="p-2 scoreboardDisplayPic">
                                <div class="scoreboardDisplayPicWrapper">
    
                                </div>
                            </div>
                            <div class="p-2 scoreboardDisplayName d-flex align-items-center">
                                John Kennady
                            </div>
                        </div>
    
                        <div class="col-sm-6 d-flex scoreboardScoreItem">
                            <div class="p-2 scoreboardCounter justify-content-center align-items-center d-flex">
                                20.
                            </div>
                            <div class="p-2 scoreboardDisplayPic">
                                <div class="scoreboardDisplayPicWrapper">
    
                                </div>
                            </div>
                            <div class="p-2 scoreboardDisplayName d-flex align-items-center">
                                John Kennady
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

{% endblock %}