{% extends 'header.html' %}
{% load static %}
{% block body %}

<div id="bodyWrapper" class="container">
    <div class="timelineMainWrapper">
        <div class="row noMargin timelineTimerWrapper">
            <div class="timelineTimerBoxEach">
                <div class="timelineTimerBox">
                    <h4>60</h4>
                </div>
                <div class="timelineTimerLabelBox">
                    <div class="timelineTimerLabel">
                        <h4>Days</h4>
                    </div>
                </div>
            </div>
            <div class="timelineTimerBoxEach">
                <div class="timelineTimerBox">
                    <h4>10</h4>
                </div>
                <div class="timelineTimerLabelBox">
                    <div class="timelineTimerLabel">
                        <h4>Hours</h4>
                    </div>
                </div>
            </div>
            <div class="timelineTimerBoxEach">
                <div class="timelineTimerBox">
                    <h4>20</h4>
                </div>
                <div class="timelineTimerLabelBox">
                    <div class="timelineTimerLabel">
                        <h4>Minutes</h4>
                    </div>
                </div>
            </div>

            <div class="timelineTimerFooterTextBox">
                <h3>Until Next Round</h3>
            </div>
        </div>

        <div class="row noMargin timelineWrapper justify-content-around" id="timelineWrapper">
            <div class="col-sm-4 d-flex justify-content-center align-tems-center">
                <div class="timelineEachItem" id="timelineItem1">
                    <h6>Round 1A</h6>
                </div>
            </div>
            <div class="col-sm-4 d-flex justify-content-center align-tems-center">
                <div class="timelineEachItem" id="timelineItem2">
                    <h6>Round 1B</h6>
                </div>
            </div>
            <div class="col-sm-4 d-flex justify-content-center align-tems-center">
                <div class="timelineEachItem" id="timelineItem3">
                    <h6>Round 2</h6>
                </div>
            </div>

            <div class="col-sm-4 d-flex justify-content-center align-tems-center">
                <div class="timelineEachItem" id="timelineItem4">
                    <h6>Final Round</h6>
                </div>
            </div>

            <div class="col-sm-4 d-flex justify-content-center align-tems-center">
                <div class="timelineEachItem active" id="timelineItem5">
                    <h6>Round 3</h6>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}