{% extends 'header.html' %}
{% load static %}
{% block body %}

<div id="bodyWrapper" class="container">
    <div class="timelineMainWrapper">
        <div id="timelineCountdownContainer">

        </div>
        <div id="timelineWrapperContainer">
            <div class="row noMargin timelineWrapper justify-content-around" id="timelineWrapper">
                <div class="col-sm-4 d-flex justify-content-center align-tems-center">
                    <div class="timelineEachItem active" id="timelineItem1">
                        <h6>Loading...</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}