{% extends 'header.html' %}
{% load static %}
{% block body %}

<div id="bodyWrapper">

    <div class="row justify-content-center profilePageWrapper noMargin">
        <div class="col-md-5 profileDisplayWrapper">
            <div class="userIntro d-flex">
                <div class="p-2 userDisplayPicture">
                    <div class="userDisplayPictureContainer">

                    </div>
                </div>
                <div class="p-2 userIntroDetails d-flex flex-column">
                    <div class="p-2 flex-grow-1">
                        <div class="userIntroFullName">
                            <h5>Bishnu Dev</h5>
                        </div>
                        <div class="userIntroDescription">
                            There's clearly nothing here.
                        </div>
                    </div>

                    <div class="p-2 userIntroSocialIcons">
                        <a href="#"><span class="fab fa-facebook-square"></span></a>
                        <a href="#"><span class="fab fa-linkedin"></span></a>
                        <a href="#"><span class="fab fa-instagram"></span></a>
                        <a href="#"><span class="fab fa-twitter"></span></a>
                    </div>
                </div>
            </div>

            <div class="userDetails">
                <div class="userDetailsEach">
                    <h5 class="userDetailsHeading">Basic Info</h5>
                    <div class="userDetailsEachItems">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>Location:</td>
                                    <td>Kathmandu, Nepal <a href="#"><i class="fas fa-pencil-alt"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Website:</td>
                                    <td>https://www.coderslab.io/ <a href="#"><i class="fas fa-pencil-alt"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="userDetailsEach">
                    <h5 class="userDetailsHeading">Education</h5>
                    <div class="userDetailsEachItems">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>School:</td>
                                    <td>Kaasthamandap A-Level Academy <a href="#"><i class="fas fa-pencil-alt"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>College:</td>
                                    <td>N/A <a href="#"><i class="fas fa-pencil-alt"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="userDetailsEach">
                    <h5 class="userDetailsHeading">Career</h5>
                    <div class="userDetailsEachItems">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>Work:</td>
                                    <td>Founder at CodersLab <a href="#"><i class="fas fa-pencil-alt"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}